{% extends "layouts/content.html" %}

{% block layout_top %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{{name or _("Somebody")}}'s Mailpile</title>
  {% include("partials/head.html") %}
  {% block head %}{% endblock %}
</head>
<body>
{% include("partials/topbar.html") %}
{% include("partials/sidebar.html") %}
<div id="content" class="clearfix">
{% endblock %}

{# content.html, which we inherited from, places content here #}

{% block layout_bottom %}
</div>
{% include("partials/hidden.html") %}
{% include("partials/helpers.html") %}
{% include("partials/tooltips.html") %}
{% include("partials/modals.html") %}
{% include("partials/javascript.html") %}
</body>
</html>
{% endblock %}
